a {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: 1px solid #282c34;
}

a:hover {
  background-color: #000;
  color: #fff;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  font-size: calc(11px + 0.5vmin);
}

.active {
  background-color: #e00468;
}

.card {
  background-color: white;
  color: #282c34;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.cardTitle {
  font-size: calc(18px + 1.5vmin);
  padding: 10px 0px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px;
}

.gap {
  gap: 5px;
}

.suggestionCount {
  background-color: #000;
  width: fit-content;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  padding: 10px;
  width: 100%;
}

.tag {
  padding: 5px;
  cursor: pointer;
}
