a {
  background-color: #fff;
  border-radius: 100px;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 10px;
  margin: 0px 15px 0px 0px;
}

a:hover {
  background-color: #000;
  color: #fff;
}

a.mail {
  background-color: inherit;
  color: inherit;
  font-size: smaller;
}

.button {
  background-color: #e2e2e2;
  border-radius: 100px;
  color: #3f3f3f;
  cursor: pointer;
  padding: 6px 10px;
  font-weight: bold;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.card {
  background-color: #fff;
  color: #282c34;
  flex-wrap: wrap;
  padding: 15px;
  width: 100%;
}

.cardTitle {
  font-size: calc(18px + 1.5vmin);
  padding: 10px 0px;
}

.cardTagContainer {
  align-content: center;
  background-color: #fff;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-size: smaller;
  height: 20px;
}

.cardTagContainer:hover {
  color: #e00468;
}

.cardTag {
  margin-right: 7px;
}

.disabled {
  background-color: #828282;
  color: #ababab;
}

.Food {
  background-color: #000;
  color: #fff;
  font-size: calc(14px + 0.5vmin);
}

.flexContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px;
}

.gap {
  gap: 5px;
}

.randomContainer {
  background-color: #e00468;
  padding: 10px;
  width: 100%;
  display: flex;
}

.fade {
  animation: 0.8s ease-in-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.suggestionCount {
  font-weight: bold;
  margin: 10px;
}

.tag {
  border-radius: 100px;
  cursor: pointer;
  padding: 6px 10px;
}

.tag:hover {
  background-color: #414040;
}

.tag.active {
  background-color: #e00468;
  font-weight: bold;
}

@media (max-width: 767px) {
  .tag {
    font-size: 24px;
    border-radius: 100px;
  }
}

/* Movies Table*/

#movies {
  border-collapse: collapse;
  width: 100%;
}

#movies td,
#movies th {
  border: 1px solid #ddd;
  padding: 8px;
}

#movies tr:nth-child(even) {
  background-color: #f2f2f2;
}

#movies tr:hover {
  background-color: #e00468;
  color: #fff;
}

#movies th {
  text-align: left;
  background-color: #000;
  color: #fff;
}

/* Spanish Table*/

#spanish {
  border-collapse: collapse;
  width: 100%;
}

#spanish td,
#spanish th {
  border: 1px solid #ddd;
  padding: 8px;
}

#spanish tr:nth-child(even) {
  background-color: #f2f2f2;
}

#spanish tr:hover {
  background-color: #e00468;
  color: #fff;
}

#spanish th {
  text-align: left;
  background-color: #000;
  color: #fff;
}

.explanation {
  font-weight: bold;
}

.example {

  background-color: #e2e2e2;
  border-radius: 100px;
  padding: 6px 10px;
  font-weight: bold;
}

.ex2 {
  color: #117a37;
}

.ex1 {
  color: #e00468;
}

.ending {
  color: #e00468;
}
