a {
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 10px;
  margin: 0px 15px 0px 0px;
}

a:hover {
  background-color: #000;
  color: #fff;
}

nav {
  align-items: center;
  background: #303030;
  display: flex;
  height: 50px;
  padding: 20px;
}

.button {
  background-color: #e2e2e2;
  border-radius: 15px;
  color: #3f3f3f;
  cursor: pointer;
  padding: 6px 10px;
  font-weight: bold;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.Food {
  background-color: #000;
  color: white;
  font-size: calc(14px + 0.5vmin);
}

.active {
  background-color: #e00468;
  font-weight: bold;
}

.card {
  background-color: white;
  color: #282c34;
  height: 100%;
  padding: 15px;
  width: 100%;
}

.cardTitle {
  font-size: calc(18px + 1.5vmin);
  padding: 10px 0px;
}

.disabled {
  background-color: #828282;
  color: #ababab;
}

.flexContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px;
}

.gap {
  gap: 5px;
}

.suggestionCount {
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  padding: 10px;
  width: 100%;
  width: fit-content;
}

.tag {
  border-radius: 15px;
  cursor: pointer;
  padding: 6px 10px;
}

@media (max-width: 767px) {
  .tag {
    font-size: 24px;
    border-radius: 20px;
  }
}

/* Movies Table*/

#movies {
  border-collapse: collapse;
  width: 100%;
}

#movies td,
#movies th {
  border: 1px solid #ddd;
  padding: 8px;
}

#movies tr:nth-child(even) {
  background-color: #f2f2f2;
}

#movies tr:hover {
  background-color: #e00468;
  color: #fff;
}

#movies th {
  text-align: left;
  background-color: #000;
  color: #fff;
}
